<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="episerver.find" type="EPiServer.Find.Configuration, EPiServer.Find" requirePermission="false"/>
  </configSections>
  <episerver.find
        serviceUrl="http://es-api01.episerver.com/EucUC5VgypCuGk7uuWeMl7HrvKQ72uEs/"
        defaultIndex="marcus_fileshare"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
